body { 
    background-color: #efefef;
	font-family: 'Josefin Sans', sans-serif;
}
h1 {
    color: #0c0c0c;
    font-size: 36px;
}
p {
    color: #343434;
    font-size: 16px;
}
.bear{
	width:400px;
	border-radius: 195px;
	-webkit-border-radius: 195px;
	-moz-border-radius: 195px;
}