body { 
    background-color: #efefef;
	font-family: 'Josefin Sans', sans-serif;
	text-align:center;
}
h1 {
    color: #0c0c0c;
    font-size: 36px;
}
p {
    color: #343434;
    font-size: 16px;
}
.bear{
	width:200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}
li{
	text-align:left;
	width:122px;
}