body { 
    background-color: #efefef;
}
h1 {
    color: #0c0c0c;
    font-size: 18px;
}
p {
    color: #343434;
    font-size: 14px;
}
body{
    text-align: center;
}
img{
	width:395px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}