body { 
  font-family: 'Merriweather', serif;
  padding: 25px;
  margin: 0 auto;
  width: 50%;
}

h1 {
    color: #0c0c0c;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
}
h3{
	font-weight:400;
  font-family: 'Montserrat', sans-serif;
	}
p {
    color: #343434;
    font-size: 16px;
    line-height: 25px;
}
.large-letter{
  font-size:38px;
}
.bear{
	width:200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}
li{
	text-align:left;
	width:122px;
}
.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 22px;
  background: #758a4b;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.btn:hover {
  background: #627043;
  text-decoration: none;
}